/* FILEPATH: /c:/app-friends/friends/app/assets/stylesheets/friends.css */

/* .jumbotron {
    background-color: #d8d5d5;
    border-radius: 5px;
} */
/* 
.bg {
    margin-top: 10px;
} */

/* Path: app/assets/stylesheets/friends.css */